.root,
.App {
  height: 100%;
}

.App {
  display: flex;
  flex-flow: column nowrap;
}

.App-header,
.App-footer {
  font-size: 1rem;
  color: white;
  background-color: #282c34;
}

.App-header a {
  color: white;
}

.App-footer {
  margin-top: auto;
  padding: 0.5em;
}

.main {
  flex-grow: 1;
}

.content-section {
  padding-top: 20px;
  padding-bottom: 20px;
}
